* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    background: slategray;
}

header {
    background-color: black;
    height: fit-content;
    padding: 1em;
}
header h1 {
    color: white;
    text-align: center;
    font-family: monospace;
}

#expand-button {
    height: 8px;
    width: 40px;
    background-color: gray;
    margin: 10px auto 0;

    border-radius: 12px;
}

#time-toggle {
    color: white;
    width: fit-content;
    margin: 0 auto;
}

span {
    display: inline-block;
}

.toggle {
    display: inline-block;
    position: relative;

    height: 18px;
    width: 50px;
    background-color: darkgray;
    margin: 0 5px;
    border-radius: 10px;;
}

.toggle-handle {
    display: inline-block;
    position: relative; 
    width: 13px;
    background-color: springgreen;
    height: 13px;
    border-radius: 50%;
    z-index: 2;
    top: 2px;
}

.twenty-four {
    left: 32px;
}

.twelve {
    left: 5px;
}

/* Expanded menu styling */

#expand-container {
    margin: 10px;
    
}

.hidden {
    display: none;
}

/* Clock Styling */

main {
    width: 100vw;
}

#clock {
    height: fit-content;
    width: fit-content;

    margin: 5% auto;
    padding: 1%;

}

.row {
    display: inline-block;
    margin: 10px;
}

.column {
    display: inline-block;

}

.dot {

    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 5px;

    background-color: black;
    
}

.dotColored {
    background-color: springgreen;
}

.hide {
    visibility: hidden;
}